<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
>
<head th:replace="~{base :: html-head(~{::title})}">
    <title>ToDo - task create</title>
</head>
<body>
<nav th:replace="~{base :: navbar}"/>
<div th:replace="~{auth/login :: login-form}"/>

<form style="margin: 1%;" th:action="@{/task/create}" method="post">
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Summary:</label>
        <input type="text" name="summary">
    </div>
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Description:</label>
        <input type="text" name="description">
    </div>
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Start Date:</label>
        <input type="datetime-local" id="start" name="startDate" value="2024-01-01T00:00" min="2024-01-01T00:00" max="2050-12-31T00:00" />
    </div>
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Due Date:</label>
        <input type="datetime-local" id="start" name="dueDate" value="2024-01-01T00:00" min="2024-01-01T00:00" max="2050-12-31T00:00" />
    </div>
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Attachment:</label>
        <input type="text" name="attachment">
    </div>
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Category:</label>
        <select name="id">
            <option name="category" th:each="status: ${statusList}" th:value="${status.id}" th:text="${status.displayName}" ></option>
        </select>
    </div>
  <div style="margin: 1%; width: 10%; display: flex; justify-content: space-between; align-self: center;">
    <button class="btn btn-outline-primary" type="submit">Add</button>
    <button class="btn btn-outline-danger" type="button" onclick="goBack()">Cancel</button>
  </div>
</form>
</body>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>
