<html lang="en"
      xmlns:th="http://www.thymeleaf.org/"
>
<head th:replace="~{base :: html-head(~{::title})}">
    <title>ToDo - category create</title>
</head>
<body>
<nav th:replace="~{base :: navbar}"/>
<div th:replace="~{auth/login :: login-form}"/>

<form style="margin: 1%;" th:action="@{/task/category/create}" method="post">
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Name:</label>
        <input type="text" name="name">
    </div>
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Description:</label>
        <input type="text" name="description">
    </div>
    <div class="mb-3" style="margin-left: 1%;">
        <label class="form-label">Image:</label>
        <input type="text" name="image">
    </div>
  <div style="margin: 1%; width: 10%; display: flex; justify-content: space-between; align-self: center;">
    <button class="btn btn-outline-primary" type="submit">Add</button>
    <button class="btn btn-outline-danger" type="button" onclick="goBack()">Cancel</button>
  </div>
</form>
</body>

<script>
    function goBack() {
        window.history.back();
    }
</script>
</html>
